html {font-family: "ＭＳ 明朝","MS Mincho"; sans-serif; letter-spacing: 0.04rem;}
a {color: #000; font-weight: normal; text-decoration: none;}
a:hover {font-style:oblique; color: red;}
hr {border: 0; height: 0; clear: both;}
.title {font-size: 3.5em; font-weight: normal; float: left; margin: 0 0.5em 0.5em 0;}
.left, .right {font-size:5vw; margin:0 4vw 5vw; border-bottom: 2px solid #000;}
.left {position:relative; top:0; float: left;}
.right {position:relative; top:0; float: right;}
.point {font-size: 1.25em; position:relative; top:2vw; text-align: center; color: red;}
.event {font-size: 2em; font-weight: normal; line-height: 1.5em; float: left; margin: 0 0.5em 0 0;}
.special {width:100%; background: #fff; position:absolute; top:0; left:0; margin:0; padding:0;}
.exhibition {position:relative; top:0; left:0; padding:2em 4vw;}
.dates {font-size: 1em; font-weight: normal; line-height: 1.5em; float: right; margin: 0 0 0 1em;}
.name {position:relative; top:0; left:0; line-height: 1.5em;}
.name a, .point a {font-size: 125%; font-style:oblique;}
marquee {position:relative; top:0; left:0; font-size: 150%; padding:0.25em 0; background: red; color: #fff;}
