@font-face {
  font-family: "MS Mincho";
  src: url("MSMincho.ttf");
}

@font-face {
  font-family: "Times New Roman";
  src: url("times.ttf");
}

html {
  font-size: 16px;
}

hr {
  border: none;
  clear: both;
}

body,
#contents,
#contents #title,
#credit p {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #FF5733;
}

#contents,
#hello {
  position: relative;
}

.vg {
  font-family: 'Great Vibes', cursive;
}

#contents #title,
#credit {
  font-family: "MS Mincho", "SimSong", serif;
  font-stretch: condensed;
  font-variant: common-ligatures tabular-nums;
  letter-spacing: -0.01rem;
}

#hello {
  font-family: "Arial", sans-serif;
}

#hello i,
#hello .link {
  font-family: 'Times New Roman', Times, serif;
  font-size: 125%;
  font-style: italic;
}

#hello u {
  font-size: 111%;
  text-decoration: none;
}

#contents #title {
  display: flex;
  justify-content: space-between;
  font-size: 100%;
  font-weight: 500;
}

#contents #title a:not(.vg),
#contents #title span {
  padding: 0.5rem;
}

#contents #title a:not(.vg) {
  color: #fff;
  background: #000;
  display: inline-block;
  font-weight: 555;
}

#hello {
  font-size: 175%;
  font-weight: 500;
  line-height: 200%;
  padding: 2.5rem;
  margin: 0 auto;
  max-width: 1000px;
  z-index: 1;
}

#hello u a {
  border: 0.05rem solid;
  padding: 0.25rem 0.75rem;
  border-radius: 2.5rem;
  text-decoration: none;
  white-space: nowrap;
}

#hello .image {
  position: relative;
  height: 1.75rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: inline-block;
  transform: scale(1.5);
  transform-origin: middle left;
  transition: all 0.5s ease-out;
}

#hello .image:hover {
  z-index: 10;
  transform: scale(5);
  transition: all 0.25s ease-out;
}

#hello .image img {
  height: 100%;
}

#title .vg {
  position: absolute;
}

#credit {
  position: fixed;
}

#title .vg {
  transform: scale(1, 5.5);
  transform-origin: top right;
  top: 0.5rem;
  right: 1rem;
  font-size: 100%;
}

#credit {
  bottom: 0;
  font-size: 75%;
  line-height: 150%;
  word-spacing: 0.1rem;
  z-index: 5;
}

@media screen and (max-width: 750px) {
  html {
    font-size: 3vw;
  }

  #hello {
    padding: 5%;
  }

  .mobile {
    display: none;
  }

  .mobile_only {
    display: block;
  }

  #hello .image:hover {
    transform: scale(3);
    transform-origin: bottom left;
  }
}

@page {
  size: portrait;
}

@media print {
  html {
    font-size: 3vw;
  }

  .wbr::after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
  }

  #hello {
    font-size: 150%;
    padding: 1rem 5rem 0 0;
  }

  #title .vg {
    font-size: 175%;
  }

  #credit {
    position: absolute;
  }
}
