#items {
  position: relative;
  font-family: 'Lucida Console', Courier, monospace;
}

#items a {
  font-size: 2rem;
  line-height: 200%;
  text-decoration: none;
  color: #000;
}

#items a:hover {
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: dotted 0.25rem;
}

#items a b {
  font-size: 150%;
  font-weight: 250;
}

#items a img {
  width: 2rem;
}

hr {
  border: none;
  clear: both;
}

.ctlg {
  font-size: 1rem;
  width: 100%;
}

.ctlg p {
  line-height: 200%;
}

.pr a,
.buy a {
  border: solid 0.1rem #000;
  color: #000;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.pr a:hover,
.buy a:hover {
  color: #fff;
  background: #000;
}

.ctlg .no {
  font-size: 125%;
  font-style: normal;
  font-family: 'Great Vibes', cursive;
}

.ctlg .order {
  line-height: 150%;
  font-size: 150%;
  font-style: normal;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

.ctlg .order a {
  padding-top: 1.5%;
  display: block;
}

.ctlg .no i {
  font-style: normal;
  font-family: arial;
  float: right;
  padding-left: 2.5rem;
  display: block;
}

.ctlg b {
  color: #fff;
  background: #000;
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
}

.ctlg img {
  width: 100%;
  max-width: 45rem;
  float: right;
  margin-bottom: 2.5rem;
}

.ctlg .info {
  float: left;
  zoom: 75%;
  padding-right: 5rem;
  padding-bottom: 2.5rem;
  max-width: 65rem;
  font-family: 'Lucida Console', Courier, monospace;
}

.ctlg .pr {
  clear: both;
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}

.ctlg iframe {
  width: 100%;
  height: 55vw;
  max-width: 50rem;
  max-height: 28.5rem;
  float: left;
  border: none;
  margin-bottom: 1.5rem;
}

.ctlg .buy {
  float: left;
  zoom: 95%;
  padding: 0 2.5%;
  width: 95%;
  max-width: 20rem;
  font-family: 'Lucida Console', Courier, monospace;
}

#sub b {
  background: #000;
  color: #fff;
  font-weight: 500;
  padding: 1vh 1vw;
  margin-right: 2vw;
}

@media screen and (max-width: 1200px) {
  .ctlg .buy {
    width: 95%;
    max-width: 47.5rem;
  }
}

@media screen and (max-width: 750px) {
  .ctlg .info {
    float: left;
    zoom: 75%;
    padding-right: 0;
    padding-bottom: 2.5rem;
    width: 100%;
    max-width: 100%;
    font-family: 'Lucida Console', Courier, monospace;
  }
}