hr {
  border: none;
  clear: both;
}

body,
.ctlg .pr {
  padding: 0;
  margin: 0;
}

.no {
  box-sizing: border-box;
  padding: 1rem 2.5%;
  margin: 0;
}

.no {
  font-size: 125%;
  font-style: normal;
  font-family: 'Great Vibes', cursive;
}

.no i {
  font-family: arial;
  font-style: normal;
}

.ctlg .info,
.ctlg .buy {
  font-family: 'Lucida Console', Courier, monospace;
}

.ctlg .info,
.ctlg .buy,
.ctlg iframe {
  display: block;
  float: left;
}

.no i {
  display: block;
  float: right;
}

.ctlg {
  font-size: 1rem;
  padding: 0 2.5%;
  margin: 0 auto;
}

.ctlg .pr::before {
  content: '';
  clear: both;
  display: block;
  width: 100%;
}

.ctlg a {
  color: #000;
  text-decoration: none;
}

.ctlg a:hover {
  color: #fff;
  background: #000;
}

.ctlg .info a,
.ctlg .info b,
.ctlg .buy a,
.ctlg .buy b {
  display: inline-block;
  box-sizing: border-box;
  border: solid 0.1rem #000;
  padding: 0 0.25rem;
  margin: 0.125rem;
}

.ctlg b {
  color: #fff;
  background: #000;
  margin-right: 1rem;
}

.ctlg p {
  line-height: 200%;
}

.ctlg .info {
  box-sizing: border-box;
  padding: 0 2rem 1rem 0;
}

.ctlg .info:first-child {
  width: 50%;
}

.ctlg iframe {
  border: none;
  width: 100%;
  height: 55vw;
  max-width: 750px;
  max-height: 27.5rem;
}

.ctlg .buy {
  box-sizing: border-box;
  padding: 2rem;
  margin: 0 0 2rem;
  width: 35%;
}

.ctlg .order {
  font-family: 'Great Vibes', cursive;
  font-size: 150%;
  font-style: normal;
  text-align: center;
  margin: 0;
}

.ctlg .order a {
  display: block;
  padding-top: 1.5%;
}

@media screen and (max-width: 1200px) {
  .ctlg .buy {
    width: 100%;
    padding: 1rem 0;
  }

  .ctlg iframe {
    width: 100%;
    height: 55vw;
    max-width: 100%;
    max-height: 55vw;
  }
}

@media screen and (max-width: 750px) {
  .ctlg .info:first-child,
  .ctlg .info {
    width: 100%;
    padding: 0;
  }
}
