#a4 {
  box-sizing: border-box;
  max-height: 100vh;
}

#contents {
  position: relative;
  top: 0;
  height: 100vw;
  padding: 0 0 4.5vw;
}

#contents u,
#hello u {
  border: 0.1vw solid;
  border-radius: 5vw;
  padding: 1% 2.5%;
}

#contents h1 {
  font-size: 2.5vw;
  padding: 0 0 1.25vw;
}

#contents h1 a {
  padding: 1.25%;
}

#contents h1 i {
  position: absolute;
  top: 2.5vw;
  right: 2.5vw;
  padding-top: 2.5vw;
  display: inline-block;
  font-size: 4.5vw;
  font-family: "Great Vibes", cursive;
  font-weight: 555;
  transform: scale(1, 4.5);
}

#hello {
  font-size: 4.5vw;
  padding: 0 0 15vw;
  margin: 0;
}

#hello .image {
  height: 4.5vw;
  top: -1vw;
  margin-left: 3.5vw;
  margin-right: 4vw;
  transform: scale(1.75);
}

#credit {
  display: table-cell;
  vertical-align: bottom;
  text-align: justify;
  text-align: justify-all;
  padding: 2vw 0 0;
  height: 33vw;
}

#credit p {
  margin: 0;
  padding: 0;
  line-height: 100%;
}
