.archives,
.print_only,
.print_block:not(.vg),
#hello .image,
.kaisei {
  display: none;
}

.ctlg {
  display: inline-block;
}

#hello u {
  border: 0.15rem solid;
}

#hello .hr::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
}

#hello .link {
  font-weight: 555;
}

#hello::before {
  content: "This is The BOX for The Items that archive of 1F";
  display: block;
}

#hello::after {
  content: "and something more Special Items";
  display: block;
}

#hello {
  box-sizing: border-box;
  float: left;
  width: 550px;
  max-width: 50%;
}

.contents img,
#buy {
  box-sizing: border-box;
  display: block;
  float: right;
}

#buy {
  padding: 1rem;
  width: 50%;
  max-width: 500px;
}

#buy a {
  border: solid 0.1rem;
  display: block;
  text-align: center;
  padding-top: 0.5rem;
}

#buy p {
  display: flex;
  padding: 0;
  margin: 0.5rem;
  justify-content: space-between;
}

#buy a,
#buy p {
  font-family: 'Great Vibes', cursive;
}

#buy p i {
  font-family: Arial, sans-serif;
  font-style: normal;
}

#buy,
#buy a {
  font-size: 125%;
}

.contents img {
  margin: 5rem 1rem 1rem;
  max-width: calc(50% - 2rem);
  max-height: 30rem;
}

@media screen and (max-width: 750px) {
  #hello,
  #buy {
    clear: both;
    width: 100%;
    max-width: 100%;
  }

  .contents img {
    clear: both;
    margin: 3.5rem 5% 0;
    max-width: calc(100% - 10%);
    max-height: 100vw;
  }

  #buy {
    padding: 5%;
  }
}

#index {
  clear: both;
  display: block;
  width: 100%;
}