body {
    height: 100vh;
}

#main {
    position: relative;
    height: 100%;
    overflow: auto;
    z-index: 1;
}

#credit {
    z-index: 5;
}

.print_block {
    display: block;
}

.print_only {
    display: inline-block;
}

.no_print {
    display: none;
}

button {
    background-color: #fff;
    border: 0.125rem solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    outline: none;
}

#next {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    font-size: 150%;
    z-index: 100;
}

#video {
    position: fixed;
}

#video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@media (orientation: landscape) {
    #video {
        min-width: 100%;
        min-height: 100%;
    }
}

@media (orientation: portrait) {
    html {
        height: -webkit-fill-available;
    }

    body {
        height: 100vh;
        max-height: -webkit-fill-available;
    }

    #video {
        min-height: 100vw;
        min-width: 100vh;
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

@media print {
    #video {
        display: none;
    }
}