body {
    height: 100vh;
}

#main {
    position: relative;
    height: 100%;
    overflow: auto;
    z-index: 1;
}

#credit {
    z-index: 5;
}

.print_block {
    display: block;
}

.print_only {
    display: inline-block;
}

.no_print {
    display: none;
}

nav {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
}

button {
    background-color: #fff;
    border: 0.125rem solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    outline: none;
}

#next,
#past {
    padding: 0;
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    font-size: 150%;
}

#video {
    position: fixed;
}

#video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@media (orientation: landscape) {
    #video {
        min-width: 100%;
        min-height: 100%;
    }
}

@media (orientation: portrait) {
    html {
        height: -webkit-fill-available;
    }

    body {
        height: 100vh;
        max-height: -webkit-fill-available;
    }

    #video {
        min-height: 100vw;
        min-width: 100vh;
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

@media print {
    body,
    #main {
        height: auto;
    }

    #main section {
        display: block;
    }

    #main section:not(#cover),
    #main {
        page-break-after: always;
    }

    #video {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-width: auto;
        width: 75%;
        margin: auto;
        transform: translate(0, 0);
    }

    nav {
        display: none;
    }
}